@font-face {
    font-family: 'STRANGER CREATURE';
    src: url('../fonts/stranger-creature/STRANGERCREATURE.woff2') format('woff2'),
        url('../fonts/stranger-creature/STRANGERCREATURE.woff') format('woff'),
        url('../fonts/stranger-creature/STRANGERCREATURE.ttf') format('truetype'),
        url('../fonts/stranger-creature/STRANGERCREATURE.eot') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@font-face {
    font-family: 'Beatrice Deck Trial Medium';
    src: url('../fonts/beatrice-deck-trial/BeatriceDeckTRIAL-Medium.woff2') format('woff2'),
        url('../fonts/beatrice-deck-trial/BeatriceDeckTRIAL-Medium.woff') format('woff'),
        url('../fonts/beatrice-deck-trial/BeatriceDeckTRIAL-Medium.ttf') format('truetype'),
        url('../fonts/beatrice-deck-trial/BeatriceDeckTRIAL-Medium.eot') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Vela Sans';
    src: url('../fonts/vela-sans/VelaSans-SemiBold.woff2') format('woff2'),
        url('../fonts/vela-sans/VelaSans-SemiBold.woff') format('woff'),
        url('../fonts/vela-sans/VelaSans-SemiBold.ttf') format('truetype'),
        url('../fonts/vela-sans/VelaSans-SemiBold.eot') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');